useDynLib(CLEAN)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo)
importFrom(Matrix)
export(spLeverage)
export(Clean)
export(CleanMean)
export(CleanDiff)
export(CleanR)
export(MassiveMean)
export(MassiveDiff)
export(buildNNmatrixDist)
export(buildNNmatrixDist_radius)
export(combine)
export(process)
export(CovReg)
export(constructNNGPinfo)
export(buildNNGPmat)
export(get.empirical.variogram)